body{
	background-color: rgb(10,100,100);
}
.layout{
	margin-top: 30px;
    padding-left: 30px;
}
/*.map{
	padding-left: 40px;
}*/
.slider{
	margin-top: -20px;
}
/*h1,h4{
	color: white;
}*/
footer{
	color: red;
	background-color: rgb(10,10,100);
	height: 55px;
}
.p_center{
	    margin-top: 20px;
}
.head{
	
	background-color: rgb(10,10,100);	
}
/*.a-style{
	margin-left: 260px;
}*/