/*.body
{
	background-color: red;
	border: 1px solid black;
	width:1000px;
	height: 2000px;
	margin-left: 100px;
}*/
.panel >.panel-body
{
	background-color: gray;
	margin-left: -17px;
	margin-right: -15px;
}
.panel >.panel-body2
{
	background-color: #dfdfdf;
	margin-right: -15px;
	margin-left: -19px;
	margin-top: 2%;
}
.footer_p{
	margin-left: 517px;
    padding: 14px;
}
ul{
	list-style: none;

}
li{
	display: inline;
	padding-left: 80px;
	padding-right: 20px;
}
.main_menu2
{
	border:2px solid black;
	padding-left: 20px;
	margin-left: -33px;
	width: 200px;
	margin-top: 50px;
	font-size: 20px;
	height: 245px;
}
.side_1 p
{
	margin-top: 10px;
}
.main_menu
{
	border:2px solid black;
	padding-left: 20px;
	margin-left: -18px;
	width: 200px;
}
.main_menu3{
	margin-top: 50px;
}
.main_menu4{
	margin-top: 50px;
}
.side p
{
	margin-top: 10px;
}
.main_menu p{
	font-size: 20px;

}
.gallary{
	margin-left: 20px;


}
.gallary h1{
	margin-top: 5px;
}