.body{
	background-color: black;
}
.menu_bar{
	background: red;
    padding: 12px;
}
li{
	display: inline;
	font-size: 20px;
	margin-left: 100px;
	
}
ul{
	margin-left: -89px;
}
.box_color{
	background-color: green;
	margin-left: -5px
}

.menu_1{
	border:2px solid black;
	margin-top: 10px;
	text-align:center;
	color: white;
	background-color: blue; 
	margin-left: -2px;
	margin-right: 34px;
}
.menu_2{
	border:2px solid black;
	margin-top: 10px;
	text-align:center;
	color: white;
	background-color: red; 
	margin-left: -2px;
	margin-right: 34px;
}
.color_h3{
	font-size: 24px;
    color: orangered;
}
.img_box{
	float: right;
    margin-top: 33px;
    margin-right: 33px;
}
.menu_3{
	border:2px solid black;
	margin-top: 10px;
	text-align:center;
	color: white;
	background-color: green; 
	margin-left: -2px;
	margin-right: 34px;
}
.menu_4{
	border:2px solid black;
	margin-top: 10px;
	text-align:center;
	color: white;
	background-color: pink; 
	margin-left: -2px;
	margin-right: 34px;
}
.image{
	margin-top: 11px;
}
.cosino_rw{
	color: white;
	margin-right: 34px;
}
